<% unless @posts.empty? %>
  <div class="title is-5">
    Recent posts
  </div>

  <% @posts.order("created_at DESC").each do |post|%>
    <div class="box-container">
      <div class="box-top">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <%= image_tag(post.user.avatar_icon, class: "icon_50", style: "margin-right: 0.5em") %>
              <div>
                <div class="title is-5">
                  <%= link_to "#{post.user.firstname} #{post.user.lastname}", user_path(post.user)%>
                  <br />
                </div>
                  <p class="is-size-7">
                    <%= Post.created_ago(post) %>
                  </p>
                </div>
            </div>
          </div>

          <% if post.user == current_user %>
            <div class="level-right">
              <div class="level-item">
                <%= link_to post_path(post), method: :delete do %>
                  <button class="delete"></button>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="block">
          <%= post.body %>
        </div>
      </div>

      <div class="divider">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <% if Like.where(post_id: post.id, user_id: current_user.id).first.nil? %>
                <i class="far fa-hand-spock"></i>
                <%= "#{Like.where(post_id: post.id).count} people"%>
              <% else %>
                <i class="fas fa-hand-spock"></i> 
                <% if Like.where(post_id: post.id).count > 1 %>
                  <%= "You, and #{Like.where(post_id: post.id).count - 1} other people "%>
                <% else %>
                  You spocked it
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="level-right">
            <div class="level-item">
              <p >
                <% if Like.where(post_id: post.id, user_id: current_user.id).first.nil? %>
                  <%= link_to likes_create_path(like: {post_id: post.id, user_id: current_user.id}) do %>
                    <i class="fas fa-hand-spock"></i> Spock it!
                  <% end %>
                <% else %>
                  <%= link_to likes_destroy_path(like: {post_id: post.id, user_id: current_user.id}) do %>
                    <i class="far fa-hand-spock"></i> Unspock it!
                  <% end %>
                <% end %>
              </p>
            </div>
          </div>

        </div>
      </div>

      <div class="box-bottom">
        <div class="block">
          <%= render partial: 'posts/comments', locals: {post: post} %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>