<nav class="navbar">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <h1 class="title is-5">FB Clone</h1>
    <% end %>
  </div>

  <div class="navbar-end">
    <div class="navbar-item">
      <div class="field is-grouped">
        <% if user_signed_in? %>
          <p class="control">
            <%= link_to edit_user_registration_path, class: "button" do %>
            <%= image_tag(current_user.avatar_icon, class: "rounded-circle", style: "margin-right: 0.5em") %>
              Edit Profile
            <% end %>
          </p>
          <p class="control">
            <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "button" %>
          </p>
        <% else %>
          <p class="control">
            <%= link_to "Sign In", new_user_session_path, class: "button" %>
          </p>
          <p class="control">
            <%= link_to "Sign Up", new_user_registration_path, class: "button is-info" %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</nav>